<app-menu-bar>
  <li class="logo">
    <a mat-button routerLinkActive="mat-raised-button" routerLink="/user-list"
      >Lista użytkowników</a
    >
  </li>
  <li class="item">
    <a
      mat-button
      routerLink="/borrow-table"
      routerLinkActive="mat-raised-button"
      >Historia wypożyczeń</a
    >
  </li>

  <li class="item">
    <a
      mat-button
      routerLink="/configuration-form"
      routerLinkActive="mat-raised-button"
      >Konfiguracja</a
    >
  </li>
</app-menu-bar>
<div style="height: 40px"></div>
