a.back {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.back .mat-raised-button {
  padding: 0.3vw 1.5vw;
}

.back {
  /* text-align: center;
  margin-top: 7vh;
  margin-bottom: 7vh; */
  position: absolute;
  top: 95px;
  left: 50px;
  z-index: 1;
}
