<div id="login-box">
  <h2>Zaloguj się</h2>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" autocomplete="off">
    <div class="user-box">
      <!--type="email" deleted-->
      <input name="email" ngModel #emailInput="ngModel" required="">
      <label class="text">Login</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" ngModel #passwordInput="ngModel" required="" required>
      <label class="text">Hasło</label>
    </div>
    <button type="submit">Zaloguj</button>
  </form>
  <div class="error">
    {{ errorMessage }}
  </div>
</div>
